<%= stylesheet_link_tag "bootstrap-custom" %>
<div class="container">
<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title%><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :as => "Create Forum", :class => "btn btn-primary"%>
  </div>
<% end %>
</div>