<%= stylesheet_link_tag "bootstrap-custom" %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<table class="table">
  <% @forums.each do |forum| %>
  <tr>
    <td align="center"><%= image_tag('rails_forum.jpg', :class => 'featurette-image img-responsive', :style => 'align:center;')%><br><%=link_to 'Click here to enter '+ forum.title + ' FORUM', forum, :class => "btn btn-danger", :style => "color:white;width:500px; font-size: 24px"%>
    </td>
  </tr>
  <%end%>
</table>
</div>
<%if current_user.Admin? %>
<div class="container">
  <% @forums.each do |forum| %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style="height:310px;" align="center">
            <%= image_tag('GAME.png', :class => 'featurette-image img-responsive')%>
            <div class="caption">
              <p><%=link_to forum.title, forum, :style => "font-size: 24px"%></p>
              <p><%= link_to 'Edit', edit_forum_path(forum), :class => "btn btn-primary" %>
                <%= link_to 'Destroy', forum, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
            </div>
          </div>
        </div>
    <div class="col-sm-10 col-md-8">
      <div class="thumbnail" style="height:310px;">
        <%= pie_chart Topic.group(:cate_type).count %>
      </div>
    </div>
  </div>
  <%end%>

  <button class="btn btn-info" href="#" role="button"><%= link_to 'Manage User', users_path, :style => "color:white" %></button>
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    New Forum
  </button>
<%end%>   

  <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Topic</h4>
      </div>
      <div class="modal-body">
        <object type="text/html" width="100%" height="500px" data="<%= new_forum_path %>"> </object>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
      </div>
    </div>
  </div>
</div>
    <!-- div Modal -->  

</div>
  <div class="container">    
    <footer>
        <!-- Button trigger modal -->
        <p>&copy; Company 2014</p>
    </footer>
  </div>