<div class="container" style="margin-bottom: 20px; margin-top: 20px;">
  <!-- Static navbar -->
  <div class="navbar navbar-inverse " role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to 'Rails Forums', forums_path, :class => 'navbar-brand' %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to 'Home', @forum %></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>                
              </ul>
            </div>
          </div>
        </div>
</div>
    <div class="container" >
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-2" align="center">
          <div class="list-group">
            <a href="<%=catagory_Online_path%>" class="list-group-item active"><h3 class="panel-title">Game Online</h3></a><br>
            <a href="<%=catagory_Offline_path%>" class="list-group-item active"><h3 class="panel-title">Game Offline</h3></a><br>
            <a href="<%=catagory_Offline_path%>" class="list-group-item active"><h3 class="panel-title">Game Mobile</h3></a><br>
            <a href="<%=catagory_Newfeed_path%>" class="list-group-item active"><h3 class="panel-title">News Feed</h3></a><br>
          </div>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-8">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
              <div class="panel-heading"><h3 class="panel-title">Game Online</h3></div>
            <!-- Table -->
            <%@count_cmt = 0%>
            <table class="table">
              <tbody>
                <% @online.each do |topic| %>
                  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
                    <td>
                      <%= image_tag(topic.img_head, :style => "width:100px; height:60px")%>
                    </td>
                    <td class="list_description" >
                      <dl>
                        <dt><%=link_to topic.title, forum_topic_path(:forum_id => @forum, :id => topic) %></dt>
                        <dd><%= truncate(strip_tags(topic.description),:length => 80) %></dd>
                      </dl>
                    </td>
                    <td class="list_actions" >
                      <p>Last Reply By: <%=topic.user_name%>, <%= topic.comments.last.created_at %></p>
                      <p>Number of Reply: <%=topic.comments.count-1%></p>
                      <%@count_cmt += (topic.comments.count-1)%>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
            <div class="flickr_pagination">
              <%=will_paginate @online, :inner_window => 1, :outer_window =>0, :container => false %>
            </div>
          </div>

          <div class="panel panel-primary">
            <!-- Default panel contents -->
              <div class="panel-heading"><h3 class="panel-title">Game Offline</h3></div>
            <!-- Table -->
            <table class="table">
              <tbody>
                <% @offline.each do |topic| %>
                  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
                    <td>
                      <%= image_tag(topic.img_head, :style => "width:100px; height:60px")%>
                    </td>
                    <td class="list_description" >
                      <dl>
                        <dt><%=link_to topic.title, forum_topic_path(:forum_id => @forum, :id => topic) %></dt>
                        <dd><%= truncate(strip_tags(topic.description),:length => 80) %></dd>
                      </dl>
                    </td>
                    <td class="list_actions" >
                      <p>Last Reply By: <%=topic.user_name%>, <%= topic.comments.last.created_at %></p>
                      <p>Number of Reply: <%=topic.comments.count-1%></p>
                      <%@count_cmt += (topic.comments.count-1)%>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
            <div class="flickr_pagination">
              <%=will_paginate @offline, :inner_window => 1, :outer_window =>0 , :container => false%>
            </div>
          </div>

          <div class="panel panel-primary">
            <!-- Default panel contents -->
              <div class="panel-heading"><h3 class="panel-title">Game Mobile</h3></div>
            <!-- Table -->
            <table class="table">
              <tbody>
                <% @mobile.each do |topic| %>
                  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
                    <td>
                      <%= image_tag(topic.img_head, :style => "width:100px; height:60px")%>
                    </td>
                    <td class="list_description" >
                      <dl>
                        <dt><%=link_to topic.title, forum_topic_path(:forum_id => @forum, :id => topic) %></dt>
                        <dd><%= truncate(strip_tags(topic.description),:length => 80) %></dd>
                      </dl>
                    </td>
                    <td class="list_actions" >
                      <p>Last Reply By: <%=topic.user_name%>, <%= topic.comments.last.created_at %></p>
                      <p>Number of Reply: <%=topic.comments.count-1%></p>
                      <%@count_cmt += (topic.comments.count-1)%>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
            <div class="flickr_pagination">
              <%=will_paginate @mobile, :inner_window => 1, :outer_window =>0 , :container => false%>
            </div>
          </div>

          <div class="panel panel-primary">
            <!-- Default panel contents -->
              <div class="panel-heading"><h3 class="panel-title">New Feed</h3></div>
              
              

            <!-- Table -->
            <table class="table">
              <tbody>
                <% @newfeed.each do |topic| %>
                  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
                    <td>
                      <%= image_tag(topic.img_head, :style => "width:60px; height:60px")%>
                    </td>
                    <td class="list_description" >
                      <dl>
                        <dt><%=link_to topic.title, forum_topic_path(:forum_id => @forum, :id => topic) %></dt>
                        <dd><%= truncate(strip_tags(topic.description),:length => 80) %></dd>
                      </dl>
                    </td>
                    <td class="list_actions" >
                      <p>Last Reply By: <%=topic.user_name%>, <%= topic.comments.last.created_at %></p>
                      <p>Number of Reply: <%=topic.comments.count-1%></p>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
            <div class="flickr_pagination">
              <%=will_paginate @newfeed, :inner_window => 1, :outer_window =>0 , :container => false%>
            </div>
          </div>

    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
      Post New Topic
    </button>

<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Topic</h4>
          </div>
          <div class="modal-body">
            <object type="text/html" width="100%" height="500px" data="<%= new_forum_topic_url(@forum) %>" > </object>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
          </div>
        </div>
      </div>
    </div>

       </div>

        <div class="col-md-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" align="center">Forum Statistics</h3>
            </div>
            <div class="panel-body">
              <h5><em>Topics: <%=@forum.topics.count%></em></h5>
              <h5><em>Replies: <%=@count_cmt%></em></h5>
              <h5><em>Member: <% @user = User.find(:all)%><%=@user.count%></em></h5>
            </div>
          </div>

          <h2>Advertisment</h2>
          <%= image_tag("QC.jpg", alt: "Rails",) %></br>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

      </div>
      
    </div> <!-- /container -->
