<div class="container">
      <!-- Example row of columns -->
  <div class="row" style="margin-top: 20px;">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="<%=catagory_Online_path%>">Game Online</a></li><br>
        <li><a href="<%=catagory_Offline_path%>">Game Offline</a></li><br>
        <li class="active"><a href="<%=catagory_Mobile_path%>">Game Mobile</a></li><br>
        <li class="active"><a href="<%=catagory_Newfeed_path%>">News Feed</a></li><br>
      </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-8">
      <% @Gameofflinefilter.each do |topic| %>
        <div class="col-md-6">
          <div class="panel panel-primary" style="background: url('styles/default/xenforo/gradients/category-23px-light.png') repeat-x scroll center top #FFF4E5;padding: 10px; height:350px;">
          <%= image_tag(topic.img_head, :style => "height:230px", :class => "featurette-image img-responsive")%>
          <h4 align="center" font-color="red"><%=link_to topic.title, forum_topic_path(:forum_id => topic.forum_id, :id => topic) %></h4>
          <p align="center"><%= truncate(strip_tags(topic.description),:length => 80) %></p>
          <p align="center">By <%=topic.user_name%>,<%=topic.created_at%>. <span class="glyphicon glyphicon-envelope"><%=topic.comments.count%>. <span class="glyphicon glyphicon-thumbs-up"></span>:<%=topic.votes.count %> </p> 
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="apple_pagination">
      <%=will_paginate @offline, :inner_window => 1, :outer_window =>0, :container => false%>
    </div>
  <p class="btn btn-default" href="#" role="button"><%= link_to 'Back To Forum', forums_path %></p>
</div>