<div class="container" >
      <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="<%=catagory_Online_path%>">Game Online</a></li>
            <li class="active"><a href="<%=catagory_Offline_path%>">Game Offline</a></li>
            <li><a href="<%=catagory_Mobile_path%>">Game Mobile</a></li>
            <li class="active"><a href="<%=catagory_Newfeed_path%>">News Feed</a></li>
          </ul>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Game Mobile</div>
        <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>Post</th>
                <th>Author</th>
                <th>Last Reply By</th>
                <th>Last Reply At</th>
                <th>Number of Reply</th>
              </tr>
            </thead>
            <tbody>
              <% @Gamemobilefilter.each do |topic| %>
                <tr>
                  <td>
                  <%=link_to topic.title, forum_topic_path(:forum_id => topic.forum_id, :id => topic) %></br>
                  </td>
                  <td>
                    <%= topic.user_name %>
                  </td>
                  <td>
                    <%= topic.comments.last.user_name %>
                  </td>
                  <td>
                    <%= topic.comments.last.created_at %>
                  </td>
                  <td>
                    <%= topic.comments.count %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <p class="btn btn-default" href="#" role="button"><%= link_to 'Back To Forum', forums_path %></p>
</div>