<div class="panel panel-primary">
    <div class="panel-heading" >
    <h3 class="panel-title" style="display:inline"><%= comment.user_name %> said:</h3>
    <p class="" style="display:inline; font-size: 12px; margin-left:450px;">Reply at <%= comment.cmt_date%></p>
    </div>              
    <div class="panel-body" style="font-size: 20px;">
        <%= comment.body %>
    </div>
</div>