<%= form_for([@forum_topic, @forum_topic.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit :as => "Create comment"%>
  </div>
<% end %>
