<%= stylesheet_link_tag "bootstrap-custom" %>
<div class="container">
<%= form_for(@comment, :url => commentreply_forum_topic_url(:forum_id=>@forum, :id=>@topic)) do |f| %>
	<% if @comment.errors.any? %>
	<div id="error_explanation">
		 <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this commentreply from being saved:</h2>

		 <ul>
		 <% @comment.error.full_messages.each do |msg|%>
		 	<li><%= msg %></li>
      	<% end %>
      	</ul>
    </div>
  <% end %>
  	 <div class="field">
		<%= f.label :body %><br />
		<%= f.text_area(:body, :size => "50x10")%>
	</div>
    <p><br></p>
	 <div class="actions">
		<%= f.submit :as => "Create Reply", :class => "btn btn-primary"%>
	</div>
<% end %>
</div>