<%= stylesheet_link_tag "bootstrap-custom" %>
<div class="container" style="margin-top: 20px">
<%= form_for(@topic, :url => forum_topics_path) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Category %><br> 
    <%= f.select :cate_type, [ 'Game Online', 'Game Offline', 'Game Mobile', 'New Feed' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label "Images to post Screenshot" %><br>
    <%= f.file_field :img_head, :class =>'btn btn-default', :placeholder => "img_head" %>
    <%= f.file_field :img_body, :class =>'btn btn-default', :placeholder => "img_body" %>
    <%= f.file_field :img_footer, :class =>'btn btn-default', :placeholder => "img_footer" %>
  </div>
  <div clas="field">
      <%= f.label "Video" %><br>
      <%= f.text_field :link %>
  </div>
  <div clas="field">
      <%= f.label :description %><br>
      <%= f.text_area(:description, :size => "60x10")%>
  </div>
  <%= fields_for(@comment) do |cf| %>
    <div clas="field">
        <%= cf.label "Requirement" %><br />
        <%= cf.text_area(:body, :size => "60x10")%>
    </div>
  <% end %>
  <br>
  <div class="actions">
  <%= f.submit :as => "Create Topic", :class => "btn btn-primary"%>
</div>
<% end %>
</div> <!-- End container -->