<div class="container" style="margin-bottom: 20px; margin-top: 20px;">
  <!-- Static navbar -->
  <div class="navbar navbar-inverse " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Rails Forums', forums_path, :class => 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', @forum %></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>          
        </ul>
      </div>
    </div>
  </div>
</div>
    


<div class="container">
  <div class="panel panel-info" style="background: url('styles/default/xenforo/gradients/category-23px-light.png') repeat-x scroll center top #FFFFFF">
    <div class="panel-heading">
      <h3 class="panel-title" font-size="24px" align="center"><%= @topic.title %></h3>
    </div>

    <div class="panel-body">
      <%= image_tag(@topic.img_head, :alt => "Dragons-and-titans-bandeau", :style => "width:900px; height:500px") %>
      <%=sanitize @topic.description %>
      <%= image_tag('Trailer_371x137.jpg', :alt => "img_body") %><br>
      <div align="center"><span style="font-size: medium"><iframe src="<%=@topic.link%>" allowfullscreen="" frameborder="0" height="300" width="500"></iframe></span></div>
      <%= image_tag('Screenshot_456x137.jpg', :alt => "img_body") %><br>
      <%= image_tag(@topic.img_body, :alt => "img_body", :style => "width:900px; height:500px") %><br>
      <%= image_tag(@topic.img_footer, :alt => "img_footer", :style => "width:900px; height:500px") %><br>
      <%= image_tag('System-req_480x137.jpg', :alt => "img_body") %><br>
      <div class="panel panel-danger" style="background: url('styles/default/xenforo/gradients/category-23px-light.png') repeat-x scroll center top #FFF4E5;">
        <div class="panel-body">
          <%=sanitize @topic.comments.find(@topic.id).body%>
        </div>
      </div>
      <%= image_tag('Download_480x137.jpg', :alt => "img_body") %><br>
      <div align="center" font-size="20px;">
        <%=image_tag('downloadmd.gif', :alt => "[Fshare] Borderlands Game of the Year", :style => "display: inline;")%>
        <a href="https://www.google.com.vn/?gfe_rd=cr&ei=AgIKVKDVDeGJ8Qf54ICIBQ&gws_rd=ssl#q=find+link+yourself+%2B+good+luck" target="_blank" class="internalLink"><b style="font-size: initial;">Download Here</b></a>
      </div>

      <p style="padding-top: 10px; margin-bottom:-10px;">Create at <%= @topic.created_at.to_date%> By <%= @topic.user_name%></p>
      <div class="#" style="padding-top: 10px">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <%= pluralize(@topic.votes.count, "vote") %>
          <%= button_to '+1', upvote_forum_topic_path(:forum_id => @forum, :id => @topic), method: :post %>
        </div>
    </div>
  </div>
</div>


  <div class="detailBox" style="background: url('styles/default/xenforo/gradients/category-23px-light.png') repeat-x scroll center top #FFF4E5;">
    <div class="commentBox">
        
        <p class="taskDescription">Display <%=@topic.comments.count%> comments</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
          <% @topic.comments.each do |comment| %>
            <% if comment.id != @topic.id%>
            <%@u = User.find(comment.user_id)%>
            <li>
              <div class="commenterImage">
                  <%if @u.avatar?%>
                    <%= image_tag(@u.avatar,:class => 'img-circle')%>
                  <%else%>
                    <%= image_tag('no-avatar.jpg',:class => 'img-circle')%>img-circle
                  <%end%>
                  <h5><%=link_to comment.user_name, @u%><h5>
                </div>
                <div class="commentText">
                    <p class=""><p><strong><%=comment.user_name%></strong> said: </p>
                    <p><%=sanitize comment.body%></p></p> <span class="date sub-text"><%= comment.created_at.to_date%></span>

                </div>
            </li>
            <%end%>
            <%end%>
        </ul>
    </div>
  </div>
  <br>
  <button class="btn btn-primary" data-toggle="modal" data-target="#Reply" style="margin-left:15px;">
    Reply
  </button>
</div>



<% if current_user.Admin == true %>
  <div class="col-md-1" style="">
    <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title" style="margin-left:-6px;"><%= link_to 'Destroy', forum_topic_path(:forum_id => @forum, :id => @topic), method: :delete, data: { confirm: 'Are you sure?' } %></h3>
          </div>
  </div>
<%end%>

    

<!-- Modal -->
<div class="modal fade" id="Reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Left Your Reply</h4>
      </div>
      <div class="modal-body">
        <object type="text/html" width="100%" height="400px" data="<%= commentreply_forum_topic_url(:forum_id=>@forum, :id=>@topic)%>"> </object>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
      </div>
    </div>
  </div>
</div>
<div style = 'position:fixed; right:0; top:100px;' id = 'gotop'><%=image_tag('Up-Arrow-Icon.jpg', width: '50px', height: '50px')%></div>


