<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<% root_path %>">
        RUBY ON RAILS HOANG TRAINING
          </a>
        </div>
      </div>
    </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 style="text-align: center">Welcome to Game Forum</h1>
        <%= image_tag("topic.jpg", alt: "Rails",) %>
    </div>