<%= stylesheet_link_tag "bootstrap-custom" %>
<div class="container">
  <h1>Hello <span>Admin</span> This is listing <span>Users</span></h1>

  <table class="responstable">
    
    <tr>
      <th>Avatar</th>
      <th>Username</th>
      <th>Email</th>
      <th>Registerd</th>
      <th>Date of birth</th>
      <th>Kill him</th>
    </tr>
    
    <% @users.each do |user| %>
      <tr>
        <th>
          <%if user.avatar?%> 
            <%= image_tag(user.avatar,:class => 'img-circle',:style => 'width:50px; height:50px;')%>
          <%else%>
            <%= image_tag('no-avatar.jpg',:class => 'img-circle',:style => 'width:50px; height:50px;')%>
          <%end%>
        </th>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.Admin %></td>
        <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger') unless user == current_user %></td>
      </tr>
    <% end %>
    
  </table>
    
  <%= link_to 'Back To Forum', forums_path, :class => 'btn btn-primary' %>
</div> <!-- div container -->
