<%= stylesheet_link_tag "bootstrap-custom" %>
<div class="container" style="width:400px;">
<div class="panel panel-success">
		<div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
     </div>
     <div class="panel-body">
     	<div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Avatar</label>
			    <%if @user.avatar?%> 
				  <%= image_tag(@user.avatar,:class => 'img-circle',:style => 'width:140px; height:140px;')%>
				  <%else%>
				  <%= image_tag('no-avatar.jpg',:class => 'img-circle',:style => 'width:140px; height:140px;')%>
				  <%end%>
	    	</div>
			</div>
      <div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Email</label>
			     <div class="form-control " required disabled><%= @user.name if @user.name %></div>
	    	</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Name</label>
			     <div class="form-control " required disabled><%= @user.email if @user.email %></div>
	    	</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Last_sign_in_at</label>
			     <div class="form-control " required disabled><%= @user.last_sign_in_at.to_date if @user.last_sign_in_at %></div>
	    	</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Registed on</label>
			     <div class="form-control " required disabled><%= @user.created_at.to_date if @user.created_at %></div>
	    	</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			     <label for="user_name">Posts</label>
			     <div class="form-control " required disabled><%= Topic.where('id = ?',@user.id	).count %></div>
	    	</div>
			</div>
			<%=link_to 'Edit', edit_user_registration_path, :class => "btn btn-info btn-flat" %>
     </div>
   </div>
 </div>