<!DOCTYPE html>
<html>
<head>
  <title>LastAssignment</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'RUBY ON RAILS HOANG TRAINING', forums_path, :class => "navbar-brand" %>
        </div>
        <% if user_signed_in?%>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span><%=current_user.name%> <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header bg-light-blue">
                        <% if current_user.avatar? %>
                          <p><%= image_tag(current_user.avatar, :class => 'img-circle', :style => 'width:90px; height:90px;') %></p>
                        <%else%>
                          <p><%= image_tag('no-avatar.jpg', :class => 'img-circle', :style => 'width:90px; height:90px;') %></p>
                        <%end%>
                        <p>
                            <%=current_user.name%> - Web Developer
                            <small>Member since <%=current_user.created_at.month%>, <%=current_user.created_at.year%></small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="col-xs-4 text-center">
                            <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <%= link_to 'Profile', edit_user_registration_path, :class => 'btn btn-info btn-flat' %>
                        </div>
                        <div class="pull-right">
                          <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'btn btn-danger btn-flat'%>
                        </div>
                    </li>
                </ul>
              </li>
            </ul>
          </div>
          <%else%>
        <%end%>
      </div>
    </div>

	<div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li class="active" data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" >
        <div class="item">
          <%= image_tag("nen1.jpg", :alt => "First Slide", :style => "width:900px; height:500px") %>
        </div>
        <div class="item active">
          <%= image_tag("nen2.jpg", :alt => "Second Slide", :style => "width:900px; height:500px")%>
        </div>
        <div class="item">
          <%= image_tag("nen3.jpg", :alt => "Third Slide", :style => "width:900px; height:500px")%>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
<%= yield %>

  <div class="container">    
    <footer>
        <!-- Button trigger modal -->
        <p>&copy; Company 2014</p>
    </footer>
  </div>
</body>
</html>
